
.background{
    background-color: rgb(242, 253, 255);
}

.search-buttons{
    text-align: right;
    margin-top: 2em;
}

.search-buttons button{
    padding: 1em;
    border-radius: 0.8em;
}

.select-travel-option{
    margin-right: 1em;
    border: 1px hidden;
}

.offered-travel-options{
    margin-top: 3em;
    /*Add diferent sizes for desktop sizes */
}